*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/api/generated
.ipynb_checkpoints
*.eggs
*.egg-info
MANIFEST
dask-worker-space
.coverage.*
*.ipynb
**/_version.py
sg_execution_times.rst
