*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/api/generated
doc/gallery
doc/tutorials
doc/sample_data
.ipynb_checkpoints
*.eggs
*.egg-info
MANIFEST
dask-worker-space
.coverage.*
*.ipynb
