name: verde
channels:
    - conda-forge
    - defaults
dependencies:
    - python=3.6
    - pip
    - numpy
    - scipy
    - pandas
    - xarray
    # Development requirements
    - matplotlib
    - jupyter
    - pytest
    - pytest-cov
    - coverage
    - flake8
    - pylint
    - sphinx
    - sphinx_rtd_theme
    - nbsphinx
    - numpydoc
    - twine

