name: verde
channels:
    - conda-forge
    - defaults
dependencies:
    - python=3.6
    - pip
    - numpy
    - scipy
    - pandas
    - xarray
    - scikit-learn
    - pooch
    # Optional
    - pykdtree
    - numba
    # Development requirements
    - dask
    - pyproj
    - matplotlib
    - cartopy
    - pytest
    - pytest-cov
    - pytest-mpl
    - coverage
    - black
    - pylint
    - flake8
    - sphinx
    - sphinx_rtd_theme
    - sphinx-gallery
    - numpydoc
