numpy
scipy
pandas
xarray
scikit-learn
pooch
# Development requirements
dask
pyproj
matplotlib
cartopy
jupyter
pytest
pytest-cov
pytest-mpl
coverage
pylint
sphinx
sphinx_rtd_theme
sphinx-gallery
nbsphinx
numpydoc
twine
# Black is not included because it requires Python 3.6
#black
