# Development requirements
# Black is not included because it requires Python 3.6
dask
pyproj
# 3.0.0 is causing Cartopy to break
matplotlib<3.0.0
cartopy
jupyter
pytest
pytest-cov
pytest-mpl
coverage
pylint
sphinx
sphinx_rtd_theme
sphinx-gallery
nbsphinx
numpydoc
twine
