numpy
scipy
pandas
xarray
scikit-learn
requests
# Development requirements
dask
pyproj
matplotlib
cartopy
jupyter
pytest
pytest-cov
coverage
flake8
pylint
sphinx
sphinx_rtd_theme
sphinx-gallery
nbsphinx
numpydoc
twine
