span.project-version {
  color: #999999;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 5px;
}

.lead {
  font-size: 1.5rem;
}

.front-page-callout {
  margin-bottom: 4rem;
}

/* Disable the sphinx-gallery download note at the top */
.sphx-glr-download-link-note {
  display: none;
}

.sphx-glr-timing {
  border-top: 1px solid #dddddd;
  padding: 1.8rem 0;
}
