sphinx==7.2.*
numpydoc==1.7.*
sphinx-book-theme==1.1.*
sphinx-gallery==0.15.*
sphinx-copybutton==0.5.*
sphinx-design==0.5.*
jupyter-sphinx==0.5.*
matplotlib==3.8.*
cartopy>=0.20
pyproj
pygmt==0.11.*
gmt==6.5.*
ipython
ensaio>=0.6.0
